:root{
    --blue:  #2196F3;
    --white: #FFFFFF;
    --grey: #757575;
    --black: #212121;
    --light-black: #2F303A;
    --primary-font:'Roboto', sans-serif;
    --secondary-font: 'Raleway' , sans-serif;
    --dark-white: #ECECEC;
    --light-grey: #EEEEEE;

}
* {
    margin: 0;
    padding: 0;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  html {
    box-sizing: border-box;
  }
ul {
    list-style: none;
}
  body{
    font-family: var(--primary-font);
  }
.header .container {
    background-color: var(--dark-white);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    color: var(--black);
    text-decoration:none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height:31px;


}
.logo span {
    color:var(--blue);
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height:31px;}
 
    .header_navigation ul{
        display:flex;
        gap: 40px;
    }  
    
    .header_navigation a {
        font-family: var(--primary-font);
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        text-decoration: none;
        color: #212121;
    }

    .links {
        color:var(--black);    
    }
    .links:hover{
        color: var(--blue);
    }
  
    .header_email{
        font-family: var(--primary-font);
        text-decoration:none;
        font-weight: 500;
        font-size: 14px;
        line-height:16px;
        color: var(--blue);
    
    }
    .header_tel {
        font-family: var(--primary-font);
        font-weight: 500;
        text-decoration: none;
        font-size: 14px;
        line-height:16px;
        color: var(--grey);
    }
    /* Main page & Hero Section*/


.hero_section {
    background-color: var(--light-black);
}
.hero_section_title {
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 44px;
    line-height:60px;
    color: var(--white);
}

.button {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height:30px;
    color: var(--white);
    background-color:var(--blue);
    padding: 12px 12px;
    cursor: pointer;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow; transform ;
    transition-property: box-shadow,transform; */
}

.button:hover, .button:focus, .button:active {
    border: 2px solid var(--blue);
    box-shadow: 0 0 2px 
    /* rgba(0,0,0,0.5); */
    /* -webkit-transform: scale(1.1);
    transform: scale(1.1); */

}

.button:focus {
 border-radius: 4px;

}
/*Group Section*/

.Group_section {
    background-color: var(--white);
}
.group_section_details h2 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height:17px;
    color: var(--black);
}
.group_section_details p {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--grey);
}

/*Section with What we do Images*/

.div_images_title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height:42px;
    color: var(--black);
}

/* Team section */

.team_section {
    background-color:
    #F5F4FA ;
}
.team_section_tiles {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height:42px;
    color: var(--black);
}
/* Team section cards container */
.team_section_members_name b {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height:18px;
    color: var(--black);
}
.roles p {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height:18px;
    color: var(--grey);
}

/*Footer Section*/

.footer_section {
    background-color: #2F303A;
}

.footer_logo {
    color:var(--white);
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height:31px;
}
.footer_logo span {
    color:var(--blue);
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height:31px;
}
.footer_address {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height:16px;
    color: var(--white);
    font-style: normal;
    

}
.footer_email{
    font-family: var(--primary-font);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height:16px;
    color: var(--white)
}
.footer_tel {
    font-family: var(--primary-font);
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
    line-height:16px;
    color:var(--white)
}


/* Portofolio Page Section */

:root {
    --dark-white-in-section-cards:#EEEEEE;
    --buton-backgroundcolor:#F5F4FA;  
}

.portofolio_buttons ul {
         list-style: none;
}
 
.portofolio_buttons button {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height:26px;
    color:var(--black);
    background-color:var(--buton-backgroundcolor);
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    cursor: pointer;
}
    
    .buttons_page2 button:hover {
       font-family: var(--primary-font);
        font-weight: 500;
        font-size: 16px;
        line-height:26px;
        color:var(--black);
        border:2px solid var(--blue);
    }
    .buttons_page2 button:focus {
        color: var(--white);
        background-color: var(--blue);

    }

    .portofolio_products_container b {
        font-family: var(--primary-font);
        font-weight: 700;
        font-size: 18px;
        line-height:36px;
        color:var(--black);
       
    }
    .portofolio_products_container p {
        font-family: var(--primary-font);
        font-weight: 400;
        font-size: 16px;
        line-height:30px;
        color:var(--grey);
    }
    .container {
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
      }

      .section {
        padding-top: 94px;
        margin-bottom: 94px;
      }






